.layout-parent {
    display: flex;
    padding: 10px;
    gap: 10px;
    height: 100vh;
    width: 100%;
    overflow: hidden;
  }
  
  .body {
    width: 100%;
    padding: 0 10px;
    border: 1px solid #c6c6c6;
    border-radius: 4px;
    overflow-y: scroll;
    padding: 20px;
  }
  
  .sidebar {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    background-color: var(--primary);
    border-radius: 4px;
    padding: 5px 20px;
    max-width: 250px;
  }
  
  .logo {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
    margin-top: 15px;
  }
  
  .logo h1 {
    font-size: 20px;
    font-weight: bold;
    color: white;
  }
  
  .logo i {
    font-size: 20px;
    color: white;
  }
  
  .menu-items {
    display: flex;
    flex-direction: column;
    gap: 25px;
  }
  
  .menu-item {
    color: white;
    display: flex;
    gap: 10px;
    align-items: center;
  
    cursor: pointer;
    padding: 7px 5px;
  }
  
  .menu-item i {
    font-size: 18px !important;
  }
  
  .menu-item span {
    font-size: 14px;
  }
  
  .active-menu-item {
    /* border: 1px solid white; */
    background-color: white !important;
    color: var(--primary) !important;
    border-radius: 4px;
  }
  
  .user-info {
    display: flex;
    align-items: end;
    gap: 10px;
    padding: 10px;
    color: white !important;
    font-size: 14px;
    background-color: rgb(55, 70, 120);
    border-radius: 4px;
    margin-bottom: 20px;
  }
  
  .user-info i {
    font-size: 18px;
  }
  

  /* styles.css */
.custom-sub-menu-items {
  /* Add your custom styles for the sub-menu items */
  /* For example: */
  background-color: #f4f4f4;
  padding: 12px;
  border-radius: 4px;
}

.custom-sub-menu-item {
  /* Add your custom styles for the individual sub-menu items */
  /* For example: */
  display: flex;
  align-items: center;
  padding: 8px 12px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.custom-sub-menu-item:hover {
  /* Add hover styles if needed */
  background-color: #e4e4e4;
}
